{% comment %}
  Shopify Wishlist
  Usage:
    - Markup: {%- render 'icon-heart', class: product -%}
    - Place this snippet inside your existing product card snippet

  Parameters:
    - class: Add a css class for custom styling (optional)
{% endcomment %}
<svg class="icon icon-heart {{ class -}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" aria-hidden="true" focusable="false" role="presentation">
  <defs></defs><title>love-it</title>
  <path d="m12 21.844-9.588-10a5.672 5.672 0 0 1-1.063-6.551h0a5.673 5.673 0 0 1 9.085-1.474L12 5.384l1.566-1.565a5.673 5.673 0 0 1 9.085 1.474h0a5.673 5.673 0 0 1-1.062 6.548Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>