<svg
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  focusable="false"
  role="presentation"
  class="icon icon-close"
  viewBox="0 0 48 48">
  <g transform="matrix(2,0,0,2,0,0)">
    <defs>
      <style>
        .a {
          stroke-width: 1.5px;
        }
      </style>
    </defs>
    <title>close</title>
    <line
      class="a"
      x1="0.75"
      y1="23.249"
      x2="23.25"
      y2="0.749"></line>
    <line
      class="a"
      x1="23.25"
      y1="23.249"
      x2="0.75"
      y2="0.749"></line>
  </g>
</svg>

{% comment %} <svg
        fill="#ffffff"
        height="40px"
        width="40px"
        class="icon icon-close"
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 490 490"
        xml:space="preserve"
        stroke="#ffffff">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "></polygon>
        </g>
</svg> {% endcomment %}