@mixin container {
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: $medium) {
    max-width: calc(#{$containerWidth});
  }
}

.container {
  @include container;

  &#{&}--sm {
    max-width: $containerSm;

    @media screen and (min-width: $medium) {
      max-width: calc(#{$containerSm} + 16px);
      padding: 0 24px;
    }
  }

  &#{&}--full {
    max-width: unset;
  }
}

.container-sm {
  @include container;
  max-width: $containerSm;

  @media screen and (min-width: $medium) {
    max-width: calc(#{$containerSm} + 16px);
    padding: 0 24px;
  }
}

@mixin grid-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @supports (display: grid) {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: $medium) {
      grid-gap: 24px;
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: $large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.grid-list {
  @include grid-list;
}

@mixin grid-item {
  @supports (display: grid) {
    grid-column: span 1;
    grid-row: span 1;
  }

  &#{&}--double-width {
    grid-column: span 2;
  }

  &#{&}--double-height {
    grid-row: span 2;
  }

  &#{&}--full-width {
    grid-column: 1 / -1;
  }
}

.grid-item {
  @include grid-item;
}

div[data-liquid-products],
div[data-products-list-placeholders],
div[data-products-container],
div[data-products-list],
div [data-app-layer-portal="search-filtered-products"],
.product-card-container,
.filter__products {
  display: contents;
}
