.accordion {
  $b: &;

  @media screen and (min-width: $large) {
    &#{&}--mobile-only {
      #{$b}__list {
        display: flex;
        gap: 16px;
      }

      #{$b}__item {
        border-bottom-color: transparent;
      }

      #{$b}__title {
        cursor: default;
        pointer-events: none;

        &::after {
          display: none;
        }
      }

      #{$b}__content {
        max-height: 0;
        padding: 0;
        opacity: 1;
      }
    }
  }

  &__list {
  }

  &__item {
    border-bottom: $border;
  }

  &__title {
    position: relative;
    padding: 16px 0;
    margin-bottom: 0;
    line-height: 1.5;

    &::after {
      content: "";
      position: absolute;
      right: 8px;
      top: 50%;
      translate: 0 -50%;
      width: 12px;
      height: 7px;
      background-image: url("icon-chevron-black-down.svg");
      background-repeat: no-repeat;
      @include transition;
    }

    &#{&}--open {
      &::after {
        rotate: 180deg;
      }
      padding-bottom: 12px;
    }

    @media screen and (min-width: $large) {
      cursor: pointer;
    }
  }

  &__content {
    @include transition;
    opacity: 0;
    max-height: var(--max-height, 0);
    padding: var(--padding, 0);
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &#{&}--open {
      opacity: 1;
      overflow: auto;
    }
  }
}
