$alert-colours: (
  'info': $colorInfo,
  'success': $colorSuccess,
  'error': $colorError,
  'warning': $colorWarning
);

@mixin messages-shared($type: 'info') {
  font-size: rem(14px);
  font-weight: 500;
  line-height: 1;
  min-width: 340px;
  border-radius: 5px;
  padding: 13px;
  display: inline-flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    height: 22px;
    width: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 13px;
  }

  .message-inner {
    max-width: 230px;

    p {
      font-size: rem(12px);
      margin-top: 5px;
      font-weight: 400;
    }
  }

  .close-btn,
  .dismiss-btn {
    margin-left: auto;
  }

  .dismiss-btn {
    font-weight: 400;
    cursor: pointer;
    color: $colorInfo;
  }
}

@mixin alert-base($type: 'info') {
  background-color: map-get($alert-colours, $type);
  color: white;

  &::before {
    content: '';
    background-image: url('icon-#{$type}.svg');
  }
}

@mixin alert($type: 'info') {
  @include messages-shared($type);
  @include alert-base($type);
}

.alert {
  &#{&}--success {
    @include alert('success');
  }

  &#{&}--info {
    @include alert('info');
  }

  &#{&}--error {
    @include alert('error');
  }

  &#{&}--warning {
    @include alert('warning');
  }
}
