.faqs-landing {
  padding: 40px 0;

  &__header {
    text-align: center;
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__content-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 40px;

    @media screen and (min-width: $large) {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-top: 48px;
    }
  }

  &__content-item {
    background-color: $colorWhite;
    border: 1px solid $colorGrey;

    @media screen and (min-width: $large) {
      @include transition;

      &:hover {
        background-color: $colorLightGrey;
      }
    }

    svg {
      width: 30px;
      height: 30px;
      margin-bottom: 4px;

      @media screen and (min-width: $large) {
        width: 64px;
        height: 64px;
        margin-bottom: 24px;
      }
    }
  }

  &__content-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;

    @media screen and (min-width: $large) {
      padding: 84px 0;
    }
  }

  &__content-heading {
    margin-bottom: 0;
  }

  &__contact-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    @media screen and (min-width: $large) {
      margin-top: 48px;
    }
  }

  &__contact-banner-heading {
    margin-bottom: 14px;

    @media screen and (min-width: $large) {
      margin-bottom: 24px;
    }
  }

  &__contact-banner-cta {
    margin-top: 20px;
    text-transform: uppercase;

    @media screen and (min-width: $large) {
      margin-top: 24px;
    }
  }
}
