.filter-and-sort {
  $b: &;
  margin: 0 0 12px;

  @media screen and (min-width: $large) {
    margin: 0 0 24px;
  }

  &__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $colorBorder;
    padding: 12px 0;

    @media screen and (min-width: $large) {
      padding: 24px 0;
      margin: 0 0 24px;
    }

    &#{&}--hide-btn {
      @media screen and (min-width: $large) {
        .btn--filter {
          display: none;
        }
      }
    }

    &#{&}--vertical {
      #{$b}__sort {
        margin-left: auto;
      }
    }
  }

  &__sort {
    .select {
      margin: 0;
    }
  }

  &__count {
    margin: 0 0 0 4px;
  }
}
