.footer {
  background-color: $colorMain2;
  margin: 0;

  &__upper {
    padding: 16px 0 32px;

    @media screen and (min-width: $footerBreakPoint) {
      padding: 30px 0;
    }
  }

  &__container {
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }

  &__row {
    display: grid;

    @media screen and (min-width: $xLarge) {
      grid-template-columns: 180px 400px 400px;
      gap: 134px;
    }

    @media screen and (min-width: $xxLarge) {
      grid-template-columns: 193px 411px 432px;
      gap: 134px;
    }
  }

  &__menu-wrapper {
  }

  &__menu-list {
    &#{&}--parent {
      display: grid;
      gap: 0;
      margin-top: 32px;

      @media screen and (min-width: $footerBreakPoint) {
        grid-template-columns: repeat(2, 1fr);
        gap: 37px 24px;
        margin-top: 0;
      }
    }

    &#{&}--child {
      display: none;

      @media screen and (min-width: $large) {
        display: block;
      }
    }

    &#{&}--open {
      display: block;
    }
  }

  &__menu-item {
    color: $colorMain3;
    &#{&}--parent {
      color: $colorMain3;

      @media screen and (min-width: $footerBreakPoint) {
        &:last-of-type {
          margin-top: 48px;
        }
      }
    }

    &#{&}--child {
      color: $colorMain3;
    }
    &#{&}--open {
      @media screen and (max-width: $footerBreakPoint) {
      }
    }

    &#{&}--social {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 32px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);

      @media screen and (min-width: $footerBreakPoint) {
        margin-top: 83px;
        display: block;
        padding-bottom: 0;
        border-bottom: none;
      }

      .heading-5 {
        @media screen and (min-width: $footerBreakPoint) {
          margin-bottom: 24px;
        }
        margin-bottom: 16px;
      }
    }
  }

  &__menu-link {
    &#{&}--parent {
      margin-bottom: 24px;

      @media screen and (max-width: $footerBreakPoint) {
        width: 100%;
        display: block;
        border-bottom: 1px solid rgba(238, 238, 238, 0.4);
        padding: 12px 32px 12px 0;
        background: url("icon-arrow-down-white.svg") right center / 10px 10px
          no-repeat;
        margin-bottom: 0;
      }
    }

    &#{&}--open {
      @media screen and (max-width: $footerBreakPoint) {
        background-image: url("icon-arrow-up-white.svg");
      }
    }

    &#{&}--child {
      color: $colorMain3;
    }
  }

  &__content-wraper {
    color: $colorMain3;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @media screen and (min-width: $large) {
      display: block;
    }

    .paragraph-sm {
      text-align: center;

      @media screen and (min-width: $large) {
        text-align: left;
      }
    }
  }

  &__logo-btn {
    margin-top: 20px;
  }

  &__logo {
    width: 129px;
    margin-bottom: 20px;
  }

  &__logo-btn {
  }

  &__newsletter {
    color: $colorMain3;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: $footerBreakPoint) {
      margin-left: 23px;
      display: block;
    }
  }
  // footer bottom

  &__copyright-link-wrap {
    display: flex;
    gap: 33px;
  }

  &__lower {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $colorMain2;
    color: $colorMain2;

    @media screen and (min-width: $large) {
      background-color: $colorMain3;
      color: $colorMain2;
    }
  }

  &__lower-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    @media screen and (min-width: $large) {
      row-gap: 0;
      align-items: baseline;
      flex-direction: row;
    }
  }

  &__bottom-linklist {
    color: $colorMain2;
    display: flex;
    gap: 28px;
    align-items: center;
  }

  &__copyright {
    color: $colorMain2;
  }

  &__payment-icons {
  }

  &__bottommenu-item {
    line-height: 1;
    height: fit-content;
  }

  &__bottommenu-link {
    line-height: 1;
    color: $colorMain4;
    text-decoration: underline;

    @media screen and (min-width: $footerBreakPoint) {
      color: $colorMain2;
      text-decoration: none;
    }
  }
}

.newsletter-signup {
  &#{&}--footer {
    .paragraph-sm {
      margin-bottom: 32px;

      @media screen and (min-width: $navBreakPoint) {
        margin-bottom: 36px;
      }
    }
    padding-top: 32px;
    text-align: center;

    @media screen and (min-width: $navBreakPoint) {
      padding-top: 0;
      text-align: left;
    }
  }

  .input-wrapper {
    position: relative;

    .submit-btn {
      position: absolute;
      filter: invert(1);
      padding: 0;
      top: 35%;
      width: 20px;
      height: 17px;
      right: 12px;
      content: url("icon-arrow-full.svg");
    }

    .label {
      position: absolute;
      padding-left: 8px;
      padding-right: 20px;
      background-color: $colorMain2;
      top: -10px;
      left: 16px;
    }

    .text-input {
      margin-bottom: 0;
      background: transparent;
      border: 1px solid $colorMain4;
    }
  }
}
