.toast {
  position: fixed;
  top: 15px;
  right: -100%;
  z-index: 110;
  background: $colorWhite;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 100%;
  max-width: 340px;
  @include transition(right, 1.5s);

  &#{&}--visible {
    right: 15px;
  }

  &__header {
    padding: 9px 15px 0;
    display: flex;

    i {
      width: 22px;
      height: 22px;
      margin-right: 13px;
      background-image: url('icon-info-red.svg');
      background-repeat: no-repeat;
    }

    .btn-close {
      width: 14px;
      height: 14px;
      background-image: url('icon-close-grey.svg');
      background-repeat: no-repeat;
      color: transparent;
      margin-top: 4px;
      cursor: pointer;
    }
  }

  &__title {
    flex: 1 auto;
    margin-right: 13px;
  }

  &__body {
    padding: 15px;

    .list-products {
      margin-bottom: 12px;

      .product {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .product-image {
        margin-right: 12px;
      }

      .product-detail {
        width: 100%;
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 4px;
          font-weight: 500;
          line-height: 20px;

          &.title {
            font-size: rem(14px);
          }

          &.product-price {
            color: $colorMidGrey;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    .btn--cart {
      width: 100%;
    }
  }

  &__footer {
    position: relative;
    height: 4px;
  }

  &__loading-bar {
    position: relative;
    background: $colorWhite;
    width: 100%;
    height: 4px;
  }

  &__progress {
    position: absolute;
    width: 0;
    @include transition(width, 1s, linear);
    left: 0;
    height: 4px;
    background: $colorError;
  }
}
