.fifty-fifty-images {
  &__grid {
    display: grid;
    align-items: flex-start;
    gap: 30px;

    @media screen and (min-width: $large) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  &__block {
    display: grid;
    gap: 30px;
  }

  &__content {
    &#{&}--bg {
      background: var(--bg);
      padding: 20px 16px;

      @media screen and (min-width: $large) {
        padding: 30px 40px;
      }
    }

    .heading-2 {
      margin: 0 0 16px;
    }

    .cta {
      display: inline-block;
      margin: 30px 0 0;
    }
  }
}
