#shopify-section-announcement-bar {
  z-index: 100;

  .mobile-nav-open & {
    z-index: 1;
  }
}

.announcement-bar {
  position: relative;
  padding: 6px 0;
  background: var(--bg);

  &__list {
    align-items: center;
  }

  &__item {
    color: var(--color);
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    max-height: 50px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__close {
    display: flex;
    padding: 3px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    cursor: pointer;

    @media screen and (min-width: $medium) {
      right: 5px;
    }

    @media screen and (min-width: $large) {
      right: 11px;
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }
}
