.become-a-stockist {
  padding: 40px 0;
  background-color: $colorMain6;

  @media screen and (min-width: $large) {
    padding: 60px 0;
  }

  &__heading {
    margin-bottom: 10px;
  }

  &__rte {
    margin-bottom: 24px;
  }

  &__each {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 12px;
    align-items: center;
  }

  &__icon {
    display: flex;
  }

  &__title {
    margin-bottom: 0;
  }

  &__btn {
    margin-top: 24px;
  }
}
