// 🍞

.breadcrumbs {
  display: none;
  margin: 16px 0;
  font-size: 11px;
  line-height: 13px;

  @media screen and (min-width: $large) {
    margin: 30px 0;
  }

  @media screen and (max-width: $largeMinusOne) {
    &#{&}--mobile {
      display: block;
    }
  }

  @media screen and (min-width: $large) {
    &#{&}--desktop {
      display: block;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 6px;
    text-transform: uppercase;
  }

  a {
    color: var(--link-color, $colorMain2);
  }

  span {
    color: var(--text-color, $colorMain3);

    &.breadcrumbs-arrow {
      display: block;
      width: 4px;
      height: 8px;
      background: var("icon-arrow.svg") center / 4px 8px no-repeat;
    }
  }
}
