.featured-brands {
  margin: 30px 0;

  @media screen and (min-width: $large) {
    margin: 60px 0;
  }

  &__each {
    @media screen and (min-width: $xLarge) {
      width: 193px;
      height: 80px;
    }
  }

  &__parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 32px;

    @media screen and (min-width: $xLarge) {
      gap: 24px;
    }
  }

  &__heading {
    margin-bottom: 32px;
  }

  &__each {
    flex: 0 0 calc(100% / var(--mobile) - 10px);

    @media screen and (min-width: $medium) {
      flex: 0 0 calc(100% / var(--tablet) - 10px);
    }

    @media screen and (min-width: $xLarge) {
      flex: 0 0 calc(100% / var(--desktop) - 24px);
    }
  }

  &__btn {
    width: fit-content;
    margin: 0 auto;
    display: block;
  }
}
