body.geo-open {
  overflow: hidden;
}

.geo-switcher {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: none;

  body.geo-open & {
    display: flex;
  }

  &__underlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $colorBlack;
    opacity: 0.2;
  }

  &__inner {
    position: relative;
    z-index: 1;
    background: #fff;
    color: $colorMain3;
    max-width: 414px;
    width: 90%;
    padding: 60px 16px;

    @media screen and (min-width: $medium) {
      padding: 80px 30px;
    }
  }

  &__close {
    background: var(--icon--close-alt) center / 22px 22px no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    @media screen and (min-width: $large) {
      top: 30px;
      right: 30px;
    }
  }

  .heading-3 {
    text-align: center;
    margin: 0 0 30px;
  }
}
