.hero {
  &__slide {
    display: flex;
    justify-items: center;
    overflow: hidden;
  }

  &__slide-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    align-items: var(--align-items);
    justify-content: var(--justify-content);
    text-align: var(--text-align);

    @media screen and (min-width: $medium) {
      flex-wrap: nowrap;
    }
  }

  &__slide-content {
    z-index: 5;
    position: absolute;
    align-items: center;
  }

  &__slide-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
    padding: 0;
    align-items: var(--align-items);

    &#{&}--left {
      max-width: 376px;
      padding-right: 40px;
    }

    &#{&}--right {
      max-width: 376px;
      padding-left: 40px;
    }

    @media screen and (min-width: $medium) {
      max-width: 828px;
      padding: 0;

      &#{&}--low {
        padding-bottom: 40px;
      }
    }

    .heading {
      margin-bottom: 0;
    }

    .subheading,
    .hero__slide-p {
      color: var(--color);
      margin: 16px 0 0;
    }

    .btn {
      margin: 24px 0 0;

      @media screen and (min-width: $medium) {
        margin: 32px 0 0;
      }
    }
  }

  &__cta-container {
    display: flex;
    column-gap: 12px;

    @media screen and (min-width: $large) {
      column-gap: 16px;
    }
  }

  .video-container {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;

    &#{&}--mobile {
      aspect-ratio: 15 / 28;

      @media screen and (min-width: $large) {
        display: none;
      }
    }

    &#{&}--desktop {
      display: none;

      @media screen and (min-width: $large) {
        display: block;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    iframe,
    video {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    iframe {
      // set the width to 300% so the title is hidden
      // set the margin-left to -100% to bring the video back into display
      // from: https://stackoverflow.com/a/69691676/1095656
      height: 100%;
      width: 300%;
      margin-left: -100%;
    }
  }

  &__slide-image {
    width: 100%;
    display: flex;
    position: relative;

    .image-snippet {
      width: 100%;
    }
  }

  .swiper {
    padding: 0;
  }

  .swiper-button {
    width: 42px;
    height: 42px;
    background: $colorMain4;

    &::after {
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
    }

    &-prev {
      left: 16px;
    }

    &-next {
      right: 16px;
    }
  }

  .swiper-pagination {
    bottom: 16px;
    margin: 0 auto;
    height: 2px;
    display: flex;
    column-gap: 6px;
    max-width: fit-content;
    z-index: 5;
    background: transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @media screen and (min-width: $large) {
      bottom: 12px;
    }

    &-bullet {
      width: 32px;
      height: 2px;
      background-color: $colorMain4;
    }

    &-bullet-active {
      background-color: $colorMain2;
    }
  }

  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background: $colorMain5;
  }
}
