.image-with-text {
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;
  &#{&}--half {
    @media screen and (min-width: $large) {
      grid-template-columns: repeat(2, 1fr);
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: var(--align-items);
    text-align: var(--align-items);

    &#{&}--multiple {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;

      @media screen and (min-width: $large) {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 32px;
        min-width: 542px;
      }
    }
  }

  &#{&}--offset {
    @media screen and (min-width: $large) {
      grid-template-columns: 6fr 4fr;
    }
  }

  &__image {
    background: var(--bg) center / cover no-repeat;

    .image-snippet {
      visibility: hidden;
    }
  }

  &__content {
    p {
      margin-bottom: 0;
    }
  }

  &__heading {
    margin-bottom: 16px;

    @media screen and (min-width: $large) {
      margin-bottom: 24px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    padding: 24px 0;

    &#{&}--left {
      @media screen and (min-width: $large) {
        padding: 0 73px 0 97px;
      }
    }

    &#{&}--right {
      order: 1;

      @media screen and (min-width: $large) {
        padding: 0 97px 0 73px;
        order: unset;
      }
    }

    &#{&}--multipleleft {
      @media screen and (min-width: $large) {
        padding: 0 40px 0 82px;
        order: unset;
      }
    }
    &#{&}--multipleright {
      @media screen and (min-width: $large) {
        padding: 0 82px 0 40px;
        order: unset;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    margin-top: 24px;
  }

  &__button {
    white-space: nowrap;
  }

  &__center {
    color: var(--color);

    .heading-1,
    .subheading-1 {
      color: var(--color);
    }
  }
}
