.product-spotlight {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: $medium) {
    flex-direction: row;
    gap: 8px;
  }

  @media screen and (min-width: $xLarge) {
    gap: 12px;
  }

  &#{&}--right {
    @media screen and (min-width: $medium) {
      flex-direction: row-reverse;
    }
  }

  &__content,
  &__products {
    flex: 1;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: var(--bg);
    color: var(--color);
    padding: 0 0 25%;

    @media screen and (min-width: $medium) {
      flex: 1 1 18.4%;
      padding: 0;
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex: 1;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $medium) {
      position: relative;
      top: -10px;
      padding: 16px 32px 6px;
    }

    @media screen and (min-width: $xLarge) {
      padding: 32px 56px 22px;
    }

    .heading-3 {
      margin: 0 0 8px;

      @media screen and (min-width: $medium) {
        margin: 0 0 12px;
      }

      @media screen and (min-width: $xLarge) {
        margin: 0 0 16px;
      }
    }

    p {
      margin: 0 0 16px;
    }

    .cta {
      align-self: flex-start;
      color: var(--color);
    }
  }

  &__products {
    display: grid;
    grid-gap: 24px 5px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);

    @media screen and (min-width: $medium) {
      grid-gap: 8px;
    }

    @media screen and (min-width: $xLarge) {
      grid-gap: 12px;
    }
  }
}
