.subcollection {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 15px;

    @media screen and (min-width: $large) {
      grid-template-columns: repeat(4, 1fr);
      gap: 60px 20px;
    }
  }

  &__item {
    &#{&}--promo {
      grid-column: span 2;
    }
  }
}
