.usp-banner {
  background-color: $colorMain3;

  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    padding: 24px 0;

    @media screen and (min-width: $large) {
      grid-template-columns: repeat(var(--size), 1fr);
    }
  }

  &__each {
    display: flex;
    column-gap: 16px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    opacity: 0.6;
  }
}
