@mixin supportGap($gap: 24px) {
  gap: $gap;

  @supports not (gap: $gap) {
    & > * {
      &:not(:last-of-type) {
        margin-right: $gap;
      }
    }
  }
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center {
  @include absolute-center;
}

@mixin transition($prop: all, $duration: 333ms, $effect: ease-in-out) {
  transition: $prop $duration $effect;
}

@mixin table-base($table-spacing: 6px) {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;

  th {
    text-transform: uppercase;
  }

  td,
  th {
    @include small-paragraph;
    vertical-align: middle;
    padding: $table-spacing;
    border: 1px solid $colorBorder;
    text-align: left;
  }

  td a {
    text-decoration: underline;
    color: $colorMain2;
  }
}

@mixin responsive-table {
  $table-spacing: 14px;
  @include table-base($table-spacing);

  @media screen and (max-width: 769px) {
    // Mobile table headers are taken from the data-label="Row Label" on the td, real headers hidden on mobile
    display: block;

    // Force table to not be like tables anymore

    thead,
    tbody,
    th,
    td,
    tr,
    tfoot {
      display: block;
    }

    // Hide table headers (but not display: none;, for accessibility)

    thead tr,
    .small--hide {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid $colorBorder;
      margin-bottom: 16px;

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      // Behave  like a "row"
      border: none;
      border-bottom: 1px solid $colorBorder;
      position: relative;
      padding-left: calc(50% + #{$table-spacing});
    }

    td:before {
      content: attr(data-label);
      position: absolute;
      display: flex;
      align-items: center;
      border-right: 1px solid $colorBorder;
      top: 0;
      bottom: 0;
      left: $table-spacing;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-size: rem(14px);
      font-weight: 500;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      @media screen and (min-width: $medium) {
        @include heading-5;
        text-transform: initial;
      }
    }
  }
}
