.hide {
  display: none;
}

.center {
  justify-content: center;
}

.flex-items-center {
  align-items: center;
}

.right {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.bottom {
  align-items: flex-end;
}

.bold {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.separator,
.hr {
  border: 0;
  border-top: 1px solid $colorBorder;
  width: 100%;
  margin: 24px 0;
}
