.visually-hidden {
  // For accessibility (screen readers)
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}

@media screen and (min-width: $medium) {
  .hide-medium-up {
    display: none !important;
  }
}

@media screen and (max-width: $mediumMinusOne) {
  .hide-below-medium {
    display: none !important;
  }
}

@media screen and (min-width: $large) {
  .hide-large-up {
    display: none !important;
  }
}

@media screen and (max-width: $largeMinusOne) {
  .hide-below-large {
    display: none !important;
  }
}
