.style-guide {
  &__heading {
    padding: 20px;
    background: $colorMain1;
    margin: 20px 0;

    h4 {
      color: $colorMain4;
      text-transform: uppercase;
      margin: 0;
      font-weight: 700;
    }
  }

  &__subheading {
    padding: 10px 0;
    margin: 10px 0 20px;
    border-bottom: 2px solid $colorMain1;

    h4 {
      text-transform: uppercase;
      margin: 0;
      font-weight: 700;
    }
  }

  &__info {
    border-left: 2px solid $colorMain2;
    background: rgba(#377ae5, 0.2);
    margin: 0 0 10px;
    padding: 2px 0 2px 10px;

    p + p {
      margin: 5px 0 0;
    }
  }

  &__flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &#{&}--top {
      align-items: flex-start;
    }
  }

  &__code {
    padding: 2px;
    background: rgba(#377ae5, 0.2);
  }

  &__cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__card {
    padding: 10px;
    background: white;
    text-align: center;

    p {
      margin: 5px 0 0;
    }
  }

  &__color {
    background: var(--bg);
    height: 120px;
    width: 100%;
    margin: 0 0 12px;
  }

  &__icon-grid {
    display: grid;
    gap: 10px;
    margin: 10px 0;

    &#{&}--svg {
      grid-template-columns: repeat(auto-fit, 40px);
    }

    &#{&}--liquid {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    background: var(--bg) center / 40px 40px no-repeat;
  }

  &__render {
    .icon-wrapper {
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
