.article {
  &__featured-image {
  }

  &__container {
  }

  &__header {
    &#{&}--image {
      display: grid;
      margin: 0 0 30px;

      @media screen and (min-width: $large) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__col {
    &#{&}--text {
      background: $colorMain4;
      padding: 30px;
      display: grid;
      gap: 16px;

      @media screen and (min-width: $large) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  &__category {
  }

  &__heading {
  }

  &__date {
  }

  &__sharing {
  }

  &__content {
  }
}
