.customer-template {
  padding: 48px 0;

  @media screen and (min-width: $medium) {
    padding: 60px 0;
  }

  .alert-error {
    margin-bottom: 16px;
  }

  .errors {
    li {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .cta {
    text-transform: none;
  }

  .btn-addresses {
    width: 272px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-transform: capitalize;
    cursor: pointer;

    @media screen and (min-width: $medium) {
      width: 206px;
    }

    &::before {
      content: '';
      width: 25px;
      height: 25px;
      display: inline-block;
      background-image: url('icon-add-address.svg');
      background-size: 25px;
      background-repeat: no-repeat;
      margin-right: 8px;

      @media screen and (min-width: $medium) {
        width: 32px;
        height: 32px;
        background-size: 32px;
        margin-right: 16px;
      }
    }
  }

  .address {
    line-height: 16px;
    font-size: 14px;

    .cta {
      font-size: rem(12px);
      line-height: rem(16px);
      margin-top: 25px;
      display: inline-block;
      font-weight: 400;
    }
  }

  .responsive-table {
    margin-bottom: 0;

    th {
      font-weight: 700;
    }

    td {
      @media screen and (max-width: 769px) {
        font-size: rem(14px);
        font-weight: 400;
        min-height: 65px;
        align-items: center;
        display: flex;
        padding-left: calc(33% + 14px);

        &::before {
          border-right: none;
          font-weight: 700;
          white-space: normal;
          font-size: rem(12px);
          width: 33%;
        }
      }
    }

    tfoot tr {
      margin-bottom: 0;
      border: none;
      border-left: 1px solid $colorBorder;
      border-right: 1px solid $colorBorder;

      &:first-of-type {
        @media screen and (max-width: $mediumMinusOne) {
          border-top: 1px solid $colorBorder;
        }
      }

      &:last-of-type {
        margin-bottom: 16px;

        @media screen and (min-width: $medium) {
          border-bottom: 1px solid $colorBorder;
          border-top: 1px solid $colorBorder;
        }
      }

      td {
        font-weight: 700;

        @media screen and (min-width: $medium) {
          border: none;
        }
      }
    }
  }

  @media screen and (max-width: $mediumMinusOne) {
    text-align: center;
  }
}

.customer-template--contained {
  background-color: $colorWhite;
  text-align: center;

  .heading-1,
  p {
    margin-bottom: 17px;
  }

  p {
    color: $colorBlack;
  }

  input {
    width: 100%;
    margin-bottom: 12px;
  }

  .btn {
    margin-bottom: 25px;
  }
}

.customer-template--login {
  .customer-login-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: $medium) {
      flex-direction: row;
    }

    .form-success {
      flex: 0 0 100%;
      padding: 24px;
    }

    .login-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: $medium) {
        width: 50%;
        padding: 56px 16px;
      }

      &#{&}--top {
        justify-content: flex-start;
      }

      &#{&}--bg {
        background-color: $colorLightGrey;
        padding: 40px 16px;

        @media screen and (min-width: $medium) {
          padding: 84px 16px;
        }
      }
    }

    .login-wrapper,
    .create-wrapper {
      width: 100%;
      max-width: 412px;
    }

    .create-wrapper {
      p {
        margin-bottom: 24px;
      }

      .bullets {
        text-align: left;
        padding: 0 0 0 16px;
        margin-bottom: 24px;

        @media screen and (min-width: $medium) {
          margin-bottom: 40px;
        }

        li {
          list-style: disc;
          font-size: 14px;
          margin-bottom: 8px;

          &:last-of-type {
            margin-bottom: none;
          }
        }
      }

      a {
        width: 100%;
        max-width: 412px;
      }

      .btn {
        margin: 0;
      }
    }
  }
}

.recover-box {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $colorWhite;
  position: absolute;
  top: 0;
  left: 0;

  .recover-wrapper {
    width: 100%;
    max-width: 432px;
    padding: 0 16px;
    margin: 60px auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.customer-register-main,
.customer-activate-wrapper {
  width: 100%;
  max-width: 432px;
  padding: 0 16px;
  margin: auto;
}

.login-box,
.customer-template--activate {
  .customer-login-main {
    position: relative;
    width: 100%;
  }

  .password-container {
    margin-bottom: 16px;
    position: relative;

    input {
      margin-bottom: 0;
    }

    .recover-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: rem(12px);
      line-height: rem(14px);
      color: $colorBlack;
      text-decoration: underline;
    }
  }
}

.customer-account-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  @media screen and (min-width: $medium) {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .customer-welcome {
    width: 100%;
    text-align: center;

    @media screen and (min-width: $medium) {
      width: 70%;
      text-align: left;
    }

    .heading-1 {
      font-weight: 700;
      margin-bottom: 0;

      @media screen and (max-width: $mediumMinusOne) {
        margin-bottom: 16px;
      }
    }
  }

  .customer-member-date {
    width: 100%;
    text-align: center;

    @media screen and (min-width: $medium) {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-align: right;
    }
  }
}

.customer-account-body {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $medium) {
    flex-direction: row;
  }
}

.account-menu {
  width: 100%;
  max-width: 411px;
  margin-right: 24px;

  &#{&}--mobile {
    @media screen and (min-width: $medium) {
      display: none;
    }
  }

  ul {
    li {
      font-size: 14px;
      font-weight: 700;
      line-height: 160%;
      border-bottom: 1px solid $colorBorder;

      &:first-of-type {
        border-top: 1px solid $colorBorder;
      }

      &.active {
        background-color: $colorLightGrey;
        border-top: 1px solid $colorLightGrey;
      }

      a {
        display: flex;
        width: 100%;
        padding: 15px 34px;
        line-height: 18px;
      }
    }
  }

  .my-account a,
  .personal-addresses a,
  .my-orders a,
  .wishlist a,
  .customer-account-change_password a,
  .need-help a,
  .customer-account-help a,
  .customer-account-logout a {
    &::before {
      content: '';
      width: 22px;
      height: 22px;
      margin-right: 26px;
      display: block;
      background-repeat: no-repeat;
    }
  }

  .my-account a {
    &::before {
      width: 20px;
      height: 20px;
      background-image: url('customer-account-icon.svg');
    }
  }

  .personal-addresses a {
    &::before {
      height: 18px;
      background-image: url('customer-details-icon.svg');
    }
  }

  .my-orders a {
    &::before {
      background-image: url('customer-orders-icon.svg');
    }
  }

  .wishlist a {
    &::before {
      width: 21px;
      height: 20px;
      background-image: url('customer-wishlist-icon.svg');
    }
  }

  .customer-account-change_password a {
    &::before {
      background-image: url('customer-password-icon.svg');
    }
  }

  .need-help a,
  .customer-account-help a {
    &::before {
      background-image: url('customer-help-icon.svg');
    }
  }

  .customer-account-logout a {
    &::before {
      background-image: url('customer-logout-icon.svg');
    }
  }

  .mobile-menu {
    display: block;

    @media screen and (min-width: $medium) {
      display: none;
    }
  }

  .menu-title {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $colorLightGrey;
    padding: 16px;
    margin-bottom: 16px;

    a {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      font-weight: 700;
    }
  }
}

.customer-content {
  width: 100%;
  max-width: 845px;
  position: relative;
}

.customer-title {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $colorBorder;
  background-color: $colorLightGrey;

  @media screen and (min-width: $medium) {
    padding: 15px 40px;
  }

  &#{&}--overview {
    text-align: left;
    padding: 16px;

    @media screen and (min-width: $medium) {
      padding: 15px 40px;
    }
  }

  .title {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @media screen and (min-width: $medium) {
      font-size: 14px;
    }
  }

  .order-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn {
      display: none;

      @media screen and (min-width: $medium) {
        display: block;
        max-width: 125px;
        padding: 10px 23px;
        text-transform: capitalize;
        font-weight: 500;
        margin-right: 24px;
        font-size: 14px;
        letter-spacing: 0;
      }
    }

    .view {
      font-size: 14px;
      text-decoration: underline;
    }
  }
}

#shopify-section-customer-account-details,
.address-form-section,
.address-section {
  background-color: $colorLightGrey;
}

.customer-details-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0;
  margin-bottom: 16px;
  background-color: $colorLightGrey;

  @media screen and (min-width: $medium) {
    flex-direction: row;
    padding: 20px 40px;
  }

  @media screen and (max-width: $mediumMinusOne) {
    &#{&}--order {
      padding: 16px;
    }

    .responsive-table {
      tr {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border: 0;

        td {
          width: 50%;
          padding-top: 54px;
          color: $colorGrey;
          font-weight: 400;
          font-size: 14px;
          flex-direction: column-reverse;
          gap: 8px;
          align-items: flex-start;

          &::before {
            width: 100%;
            color: $colorBlack;
            left: 0;
            font-size: 11px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .customer-profile {
    width: 100%;
    text-align: left;
    padding-bottom: 16px;

    ul {
      li {
        font-size: 14px;
        line-height: 16px;
        color: $colorGrey;
        margin-bottom: 8px;

        &:first-of-type {
          color: $colorBlack;
        }

        .bullet_title {
          color: $colorBlack;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .customer-address {
    width: 100%;
    border-top: 1px solid $colorBorder;
    margin-top: 16px;
    padding: 16px 0;
    text-align: left;

    @media screen and (min-width: $medium) {
      flex-direction: row;
      padding: 20px 40px;
      border: 0;
      margin: 0;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .mobile-reorder {
    .btn {
      width: 100%;
      display: block;
    }

    @media screen and (min-width: $medium) {
      display: none;
    }
  }
}

.orders-overivew-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: left;
}

.orders-overview {
  width: 100%;
  max-width: 845px;
  display: block;
  background-color: $colorLightGrey;
  margin-bottom: 16px;

  .no-orders {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .responsive-table {
    th,
    tr td {
      border: 0;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
    }

    th,
    tr td {
      padding: 8px 0;
    }

    tr td {
      color: $colorGrey;
    }
  }
}

.customer-order-template-main {
  width: 100%;

  .order-header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .back {
      font-size: 14px;
      text-align: left;
      text-decoration: underline;
      margin-bottom: 16px;
    }

    .order-header {
      width: 100%;

      .heading-3 {
        text-align: left;
        margin-bottom: 13px;
      }

      .date {
        color: $colorBlack;
        margin-bottom: 24px;
        text-align: left;

        @media screen and (min-width: $medium) {
          margin-bottom: 17px;
        }
      }
    }

    .order-actions {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      @media screen and (min-width: $medium) {
        position: absolute;
      }

      a {
        width: 100%;
        height: 40px;
        margin-bottom: 34px;
        text-transform: capitalize;

        @media screen and (min-width: $medium) {
          max-width: 180px;
          margin-bottom: 0;
        }
      }
    }
  }

  .title-image-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    a {
      display: block;
    }

    img {
      margin-right: 12px;
      display: block;
      width: 60px;

      @media screen and (max-width: $mediumMinusOne) {
        margin-bottom: 12px;
      }
    }
  }
}

.customer-addresses-wrapper {
  &.add-address-form-open {
    margin-bottom: 16px;

    .add-new-address {
      display: none;
    }

    .address-form-wrapper {
      max-height: 2000px;
      text-align: left;
    }

    .address-section {
      display: none;
    }
  }

  .address-form-section {
    display: flex;
    flex-direction: column;
  }

  .address-form-wrapper {
    max-height: 0;
    overflow: hidden;
    @include transition(max-height);

    &.address-form-open {
      max-height: 2000px;
      text-align: left;
    }

    .label {
      margin-bottom: 7px;
    }

    .checkbox-wrapper {
      margin-bottom: 24px;

      .label {
        font-weight: 400;
        margin-bottom: 0;
        text-transform: none;
      }
    }

    .text-input {
      width: 100%;
      margin-bottom: 24px;
    }

    .name-container {
      display: flex;
      flex-wrap: wrap;

      @media screen and (min-width: $medium) {
        flex-wrap: nowrap;
      }

      > div {
        flex: 1 auto;
        margin-right: 12px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .submit-wrapper {
      padding: 0 16px 16px;

      @media screen and (min-width: $medium) {
        padding: 0 40px 15px;
      }
    }

    .btn {
      margin: 0 auto 16px;
      padding: 15px 45px;
      width: 100%;

      @media screen and (min-width: $medium) {
        width: auto;
      }
    }
  }

  .address-section-wrapper,
  .address-form-wrapper {
    display: flex;
    flex-direction: column;

    .address-section {
      width: 100%;
      text-align: left;
      margin-bottom: 16px;

      .address-section-inner {
        padding: 16px;

        @media screen and (min-width: $medium) {
          padding: 24px 40px;
        }

        .heading-6 {
          font-size: 14px;
          font-weight: 700;
        }

        .address {
          line-height: 21px;
        }
      }
    }

    .address-form {
      padding: 16px;

      @media screen and (min-width: $medium) {
        padding: 24px 40px;
      }
    }
  }

  .action-btns-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 16px 16px;

    @media screen and (min-width: $medium) {
      padding: 0 40px 15px;
    }

    > div button {
      margin-right: 24px;
    }
  }
}

.customer-details-overview {
  display: flex;
  flex-flow: column;
  background-color: $colorLightGrey;
  margin-bottom: 30px;
  padding: 16px;

  @media screen and (min-width: $medium) {
    flex-flow: row;
    padding: 24px 40px;
  }

  .address-wrapper {
    width: 100%;
    line-height: 28px;
    margin-bottom: 24px;

    @media screen and (min-width: $medium) {
      width: 50%;
    }

    h2 {
      text-align: left;
      font-weight: 400;
    }

    .address {
      text-align: left;
      line-height: 28px;
    }
  }
}

.order-overview {
  background-color: $colorWhite;
  margin-bottom: 24px;
}
