.gift-card {
  text-align: center;
  padding: 24px 0 32px;

  @media screen and (min-width: $large) {
    padding: 32px 0 40px;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .heading-1 {
    margin: 0 0 8px;

    @media screen and (min-width: $large) {
      margin: 0 0 16px;
    }
  }

  &__description {
    margin: 0 0 16px;

    @media screen and (min-width: $medium) {
      margin: 0 0 32px;
    }

    @media screen and (min-width: $large) {
      margin: 0 0 24px;
    }
  }

  &__container {
    max-width: 440px;
    margin: 0 auto;
  }

  &__image {
    display: flex;
    max-width: 280px;
    margin: 0 auto 16px;

    @media screen and (min-width: $large) {
      max-width: unset;
      margin: 0 auto 24px;
    }
  }

  &__img {
    border-radius: 10px;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(164px, 1fr));
    column-gap: 12px;
    padding: 0 16px;

    @media screen and (min-width: $large) {
      padding: 0;
      grid-template-columns: repeat(2, 202px);
      justify-content: center;
      column-gap: 37px;
    }

    &#{&}--no-expiration {
      grid-template-columns: 1fr;
    }
  }

  &__value {
    margin: 0 0 24px;

    @media screen and (min-width: $large) {
      margin: 0 0 16px;
    }
  }

  &__code {
    .heading-2 {
      margin: 0 0 12px;
    }
  }

  &__code-wrapper {
    position: relative;
    margin: 0 auto;
  }

  &__code-value {
    color: #000000;
    background: $colorWhite;
    text-align: center;
    border: 2px dashed $colorMain2;
    border-radius: 6px;
    padding: 12px 16px;

    @media screen and (min-width: $large) {
      padding: 16px;
    }
  }

  &__code-button {
    display: flex;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      fill: $colorBlack;
    }
  }

  &__code-notification {
    display: none;
    color: $colorBlack;
    background: $colorGrey;
    padding: 6px 0;
    margin: 8px auto 24px;

    &#{&}--active {
      display: block;
    }
  }

  &__ctas-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    row-gap: 12px;

    @media screen and (min-width: $medium) {
      flex-direction: row;
      column-gap: 16px;
      justify-content: center;
    }
  }

  &__cta {
    text-align: center;
    text-transform: uppercase;
    color: $colorWhite;
    border-color: $colorWhite;

    &:hover {
      background: $colorLightGrey;
      color: #000000;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    row-gap: 12px;

    @media screen and (min-width: $large) {
      margin-top: 32px;
    }
  }

  &__print-btn {
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: $colorBlack;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      fill: $colorBlack;
    }
  }
}

@media print {
  .template-gift_card #shopify-section-global-message,
  .template-gift_card #shopify-section-header,
  .template-gift_card #shopify-section-footer,
  .template-gift_card .gift-card__code-button,
  .template-gift_card .gift-card__ctas-wrapper,
  .template-gift_card .gift-card__controls,
  .template-gift_card .shapes-snippet {
    display: none;
  }

  .template-gift_card h1,
  .template-gift_card h2,
  .template-gift_card h3,
  .template-gift_card h4,
  .template-gift_card h5,
  .template-gift_card h6,
  .template-gift_card p,
  .template-gift_card span {
    color: #000000;
  }
}
