/* multicolumn-section */
.multicolumn-section {
}
.multicolumn-section__main {
}

.multicolumn-section__list {
}
.multicolumn-section__content {
}
.multicolumn-section__content .title {
  width: 100%;
}
.multicolumn-img-text-card {
}

/* multicolumn-img-text-card */
.img-text-card {
}
.img-text-card__info .rte {
  margin-bottom: 2.3rem;
}

.img-text-card__image-wrapper {
}

.img-text-card__image-wrapper--third-width {
  width: 33%;
}

.img-text-card__image-wrapper--half-width {
  width: 50%;
}

.img-text-card__image-wrapper--full-width {
  width: 100%;
}

.img-text-card.background-primary .img-text-card__info {
  background: rgb(var(--color-background))
    linear-gradient(
      rgba(var(--color-foreground), 0.04),
      rgba(var(--color-foreground), 0.04)
    );
  padding: 20px;
}
.img-text-card.background-primary .img-text-card__info h3 {
  margin-top: 0;
}

/* multicolumn product  */
.multicolumn-section .favourite-wrapper-container {
  margin: 0;
}

.multicolumn-section .card-quick-buttons {
  width: calc(100% - 20px);
}

/* multicolumn collection  */
.multicolumn-section__list--collection-item {
  background-image: var(--backgroundimage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
}
.multicolumn-section__list--collection-item .button {
  position: absolute;
  bottom: 20px;

  /* right: 0; */
}

.multicolumn-section__list--collection-item.center {
  justify-content: center;
}

.multicolumn-section__list--collection-item:not(.center) .button {
  left: 20px;
}
.multicolumn-section__list--collection-item .card {
  width: 100%;
}
.multicolumn-section__list--collection-item .card .card__text {
  padding-left: 0;
}
