/* multicolumn-section */
.multicolumn-section {
}
.multicolumn-section__main {
}

.multicolumn-section__list {
}
.multicolumn-section__content {
}
.multicolumn-section__content .title {
  width: 100%;
}
.multicolumn-img-text-card {
}

/* multicolumn-img-text-card */
.img-text-card {
}
.img-text-card__info .rte {
  margin-bottom: 2.3rem;
}

.img-text-card__image-wrapper {
}

.img-text-card__image-wrapper--third-width {
  width: 33%;
}

.img-text-card__image-wrapper--half-width {
  width: 50%;
}

.img-text-card__image-wrapper--full-width {
  width: 100%;
}

.img-text-card.background-primary .img-text-card__info {
  background: rgb(var(--color-background))
    linear-gradient(
      rgba(var(--color-foreground), 0.04),
      rgba(var(--color-foreground), 0.04)
    );
  padding: 20px;
}
.img-text-card.background-primary .img-text-card__info h3 {
  margin-top: 0;
}
