

.rich-text__blocks--left {
    text-align: left;
}

.rich-text__blocks--center {
    text-align: center;
}

.rich-text__blocks--right {
    text-align: right;
}


.rich-text__buttons {
  margin-top: 3rem;
}

.rich-text.rich-text--full-width {
  max-width: initial;
  width: 100%;
}

.rich-text__blocks {
  margin: auto;
  width: calc(100% - 5rem);
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}





/* Blocks */

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}
