.cookie-warning-snippet {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 25;

  .cookie-warning-inner {
    text-align: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: $colorMain5;
    color: $colorWhite;

    a {
      color: $colorWhite;
      text-decoration: underline;

      &:visited {
        color: $colorWhite !important;
      }
    }
  }

  .cookie-warning-message {
    margin-bottom: 12px;
    color: black;
  }

  .cookie-warning-btn {
    right: 12px;
    top: 12px;
    font-size: rem(14px);

    @media screen and (min-width: $medium) {
      right: 24px;
    }
  }
}
