.delivery-info {
  $b: &;

  &#{&}--open {
    max-height: 500px;

    #{$b}__toggle {
      background-image: url('icon-arrow-up.svg');
    }
  }

  &__container {
    margin: 24px 0 0;
    border-radius: 30px;
    max-height: 54px;
    overflow: hidden;
    border: 1px solid rgba($rgbMain1, 0.3);
    @include transition(max-height);
  }

  &__toggle {
    display: block;
    width: 100%;
    padding: 20px 24px;
    border-radius: 30px;
    background: $colorMain3 url('icon-arrow-down.svg') right 24px center / 12px 8px no-repeat;
    cursor: pointer;

    .cta {
      &::after {
        display: none;
      }
    }
  }

  &__content {
    padding: 0 24px 24px;
    display: grid;
    gap: 24px;

    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }
  }
}
