.featured-article {
  &__grid {
    display: grid;
    gap: 24px;

    @media screen and (min-width: $medium) {
      grid-template-columns: 7fr 5fr;
    }
  }

  &__image {
  }

  &__details {
  }
}
