$mobileMax: $mediumMinusOne;
$tabletMin: $medium;
$tabletMax: $xLargeMinusOne;
$desktopMin: $xLarge;

.image-snippet {
  position: relative;
  width: 100%;

  &#{&}--is-single {
    aspect-ratio: var(--aspect-ratio);
  }

  @media screen and (max-width: $mobileMax) {
    &#{&}--has-mobile {
      aspect-ratio: var(--aspect-ratio-mobile);
    }
  }

  @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
    &#{&}--has-tablet {
      aspect-ratio: var(--aspect-ratio-tablet);
    }
  }

  @media screen and (min-width: $desktopMin) {
    &#{&}--has-desktop {
      aspect-ratio: var(--aspect-ratio);
    }
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    @media screen and (max-width: $mobileMax) {
      &#{&}--tablet,
      &#{&}--desktop {
        display: none;
      }
    }

    @media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
      &#{&}--mobile,
      &#{&}--desktop {
        display: none;
      }
    }

    @media screen and (min-width: $desktopMin) {
      &#{&}--mobile,
      &#{&}--tablet {
        display: none;
      }
    }
  }
}
