// This file is written in quite an odd manner
// Due to the fact the mobile and desktop are so different
// each selector has a max-width: $navBreakPointMinusOne
// and a min-width: $navBreakPoint
// This isn't how I'd usually do things but it ensures
// there's no styling overlap unless required.
// There are a few exceptions but for the most part
// it's not our usual mobile-first implementation

.navigation {
  $b: &;
  display: flex;
  justify-content: center;
  border-top: 1px solid #f8f8f8;

  &__nav {
    @media screen and (max-width: $navBreakPointMinusOne) {
      position: fixed;
      left: -100%;
      top: var(--header-height); // This needs to match the announcement bar height
      bottom: 0;
      width: 100%;
      background-color: #fff;
      @include transition(left);
      overflow-y: scroll;

      .mobile-nav-open & {
        left: 0;
      }
    }
  }

  &__actions {
    @media screen and (max-width: $navBreakPointMinusOne) {
      display: grid;
      gap: 18px;
      padding: 40px 16px;

      .cta {
        font-weight: 500;
      }

      .header__icon {
        justify-content: flex-start;

        a {
          display: flex;
          gap: 6px;
          align-items: center;
        }
      }
    }

    @media screen and (min-width: $navBreakPoint) {
      display: none;
    }

    &#{&}--mega {
      order: 3;

      @media screen and (min-width: $navBreakPoint) {
        display: none;
      }
    }
  }

  &__title {
    @media screen and (max-width: $navBreakPointMinusOne) {
      order: 1;
      margin: 0 -16px;
    }

    @media screen and (min-width: $navBreakPoint) {
      display: none;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 16px;
    background: $colorMain1;
    width: 100%;
    border-bottom: 1px solid $colorMain1;
    background: $colorMain5;

    .heading-3 {
      margin-bottom: 0;
      width: 100%;
    }

    .label {
      margin-bottom: 0;
    }
  }

  &__close {
    @media screen and (max-width: $navBreakPointMinusOne) {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 16px;
      cursor: pointer;
      width: 100%;

      svg {
        width: 30px;

        path {
          stroke: $colorMain2;
        }
      }
    }

    @media screen and (min-width: $navBreakPoint) {
      display: none;
    }
  }

  &__cta {
    padding: 16px 0;
    border-bottom: 1px solid $colorMain3;
    line-height: 1;
    background: url("icon-arrow-full.svg") calc(100% - 8px) center/12px 12px no-repeat;

    .subheading-1 {
      text-transform: capitalize;
    }
  }

  &__child {
    &#{&}--parent {
      @media screen and (min-width: $navBreakPoint) {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        gap: 24px;
        height: 100%;
      }
    }

    &#{&}--links {
      gap: 24px;
      display: flex;
      flex-direction: column;

      .cta {
        font-size: rem(16);
      }
    }
  }

  &__list {
    &#{&}--parent {
      @media screen and (max-width: $navBreakPointMinusOne) {
        padding: 12px 16px 0;
      }

      @media screen and (min-width: $navBreakPoint) {
        display: flex;
        align-items: center;
      }
    }

    &#{&}--child {
      display: grid;
      gap: 16px;

      @media screen and (max-width: $navBreakPointMinusOne) {
        order: 3;
      }

      @media screen and (min-width: $navBreakPoint) {
        gap: 63px;
        grid-template-columns: auto 192px 302px;
      }
    }
    &#{&}--grandchild {
      display: grid;
      gap: 4px;

      @media screen and (max-width: $navBreakPointMinusOne) {
      }

      @media screen and (min-width: $navBreakPoint) {
      }
    }
  }

  &__item {
    &#{&}--parent {
      @media screen and (max-width: $navBreakPointMinusOne) {
        border-bottom: 1px solid $colorMain3;
      }

      @media screen and (min-width: $navBreakPoint) {
        padding: 16px 23px 17px;
      }
    }

    &#{&}--child {
      display: none;

      @media screen and (min-width: $navBreakPoint) {
        padding: 0;
        flex: 1 auto;
        max-width: 193px;
        display: block;
      }
    }

    &#{&}--childmob {
      @media screen and (min-width: $navBreakPoint) {
        display: none;
      }
    }

    &#{&}--child-1 {
      @media screen and (min-width: $navBreakPoint) {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }

    &#{&}--child-2 {
      @media screen and (min-width: $navBreakPoint) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
    }

    &#{&}--child-3 {
      @media screen and (min-width: $navBreakPoint) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
    }

    &#{&}--child-4 {
      @media screen and (min-width: $navBreakPoint) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
    }

    &#{&}--child-5 {
      @media screen and (min-width: $navBreakPoint) {
        grid-row: 1 / 3;
        grid-column: 3 / 4;
      }
    }

    &#{&}--grandchild {
      @media screen and (max-width: $navBreakPointMinusOne) {
      }

      @media screen and (min-width: $navBreakPoint) {
        padding: 8px 0 8px 8px;
      }

      &:hover {
        background-color: $colorMain5;
        text-decoration: underline;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          background: url("icon-arrow-full.svg") center / 12px 12px no-repeat;
          width: 12px;
          height: 12px;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
        }
      }
    }

    &#{&}--open {
      border-bottom: 1px solid $colorMain1;
      #{$b}__link {
        @media screen and (min-width: $navBreakPoint) {
          &::after {
            display: block;
          }
        }
      }

      #{$b}__mega {
        border-top: 1px solid $colorMain3;

        @media screen and (max-width: $navBreakPointMinusOne) {
          right: 0;
          z-index: 10;
          height: calc(100% - var(--header-height));
          padding-bottom: 40px;
        }

        @media screen and (min-width: $navBreakPoint) {
          display: block;
        }
      }
    }
  }

  &__link {
    display: block;
    cursor: pointer;
    line-height: normal;

    @media screen and (max-width: $navBreakPointMinusOne) {
      width: 100%;
    }

    &#{&}--single,
    &#{&}--parent {
      @media screen and (max-width: $navBreakPointMinusOne) {
        padding: 18px 0;
        padding: 18px 0;
        font-weight: 800;
      }
    }

    &#{&}--parent {
      @media screen and (max-width: $navBreakPointMinusOne) {
        background: url("icon-arrow-full.svg") calc(100% - 8px) center/12px 12px no-repeat;
      }

      @media screen and (min-width: $navBreakPoint) {
        &::after {
          // This pseudo element exists so if a user moves their cursor
          // at an angle it doesn't close the menu on the item they've
          // just hovered over
          display: none;
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          width: 100%;
          height: 10px;
        }
      }
    }

    &#{&}--child {
      font-weight: 700;
      margin-bottom: 12px;

      @media screen and (max-width: $navBreakPointMinusOne) {
      }

      @media screen and (min-width: $navBreakPoint) {
        padding-left: 8px;
      }
    }

    &#{&}--grandchild {
      font-weight: 500;

      @media screen and (max-width: $navBreakPointMinusOne) {
      }

      @media screen and (min-width: $navBreakPoint) {
        line-height: 19px;
      }
    }
  }

  &__mega {
    @media screen and (max-width: $navBreakPointMinusOne) {
      position: fixed;
      height: var(--app-height, 100vh);
      top: var(--header-height);
      bottom: 0;
      right: -100%;
      width: 100%;
      background: #fff;
      @include transition(right);
      overflow: auto;

      .container {
        display: grid;
        gap: 14px;
      }
    }

    @media screen and (min-width: $navBreakPoint) {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background-color: #fff;
      padding: 32px 0;
    }
  }

  &__advert-link {
    display: grid;

    @media screen and (max-width: $navBreakPointMinusOne) {
      grid-template-columns: 156px auto;
    }
  }

  &__advert {
  }

  &__advert-content {
    background: $colorMain3;
    padding: 32px 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: $navBreakPointMinusOne) {
      padding: 24px;
      max-width: 187px;
    }

    .heading-3 {
      white-space: nowrap;
      margin-bottom: 20px;

      @media screen and (max-width: $navBreakPointMinusOne) {
        font-size: rem(18);
      }
    }
  }

  .btn--shop-all {
    @media screen and (max-width: $navBreakPointMinusOne) {
      width: 100%;
      order: 2;
    }
  }
}
