.product-form {
  .select-wrapper {
    margin-bottom: 12px;
  }

  .label {
    font-weight: 600;
    font-size: rem(14px);
    line-height: rem(17px);
  }

  .gift-card-recipient {
    &__toggle {
      margin-bottom: 24px;
    }
  }

  .btn--atc {
    width: 100%;
    margin-bottom: 24px;
    position: relative;

    &.loading {
      opacity: 0.5;
    }

    &.success {
      color: transparent;
      background-color: $colorSuccess;
      border-color: $colorSuccess;
      @include transition(background-color);

      &::after {
        color: $colorWhite;
        width: calc(100% + 2px);
      }
    }

    &::after {
      color: transparent;
      content: attr(data-success-text);
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      width: calc(100% + 2px);
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('icon-success.svg');
      background-repeat: no-repeat;
      background-position: 5px center;
      width: 0;
      overflow: hidden;
      @include transition(width);
    }
  }
}
