//
//
// Styles in this file refer to the gallery modal

.product-image-zoom-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  background: #fff;
  transform: translate(-50%, -50%);
  padding: 42px;

  .btn-close {
    position: absolute;
    right: 54px;
    top: 54px;
    cursor: pointer;
  }

  .product-image {
    &#{&}--thumbnails {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
    }

    &#{&}--thumbnail {
      display: flex;
      width: 78px;
      height: 78px;
      align-items: center;
      justify-content: center;
      margin-right: 14px;
      border: 2px solid transparent;
      padding: 3px;
      cursor: pointer;

      &.active {
        border: 2px solid $colorMain4;
      }
    }
  }

  [data-main-product-image-wrapper] {
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    padding: 0 !important; //temp

    [data-main-product-image] {
      width: 100%;
      max-width: 100%;
      outline: none;
      display: block;
      cursor: zoom-in;

      &[data-zoomed="true"] {
        cursor: grab;
      }

      &[data-zooming="out"],
      &[data-zooming="in"] {
        cursor: none;
      }

      &[data-zooming="out"] {
        transition:
          transform 0.2s linear,
          transform-origin 0s 0.2s;
      }

      &[data-zooming="in"] {
        transition: transform 0.2s linear;
      }

      &[data-zoomed="true"] + .zoom-toggle {
        transform: rotate(0);
        transition: transform 0.25s;
      }
    }

    &[data-dragging="true"] {
      cursor: grabbing;

      &::after {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 99999;
      }
    }

    .zoom-toggle {
      position: absolute;
      right: 15px;
      top: 17px;
      cursor: pointer;
      width: 35px;
      height: 35px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.modal-visible.modal-product-image-zoom .product-image-zoom-container {
  display: block;
  z-index: 10000;
}
