.quick-links-image-text {
  background: var(--bg);
  background-image: var(--bgimg);
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__usp {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__title {
  }

  &__content {
  }

  &__image {
    width: 110px;

    @media screen and (min-width: $footerBreakPoint) {
      width: 179px;
    }
  }
}
