html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.template-password {
    padding-top: 0 !important;
  }
}

html.modal-open,
body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

#MainContent {
  flex: 1;
  position: relative;
}

.no-cookies-warning {
  display: none;
}

.supports-no-cookies {
  .supports-cookies {
    display: none;
  }

  .no-cookies-warning {
    display: block;
  }
}
